*{
    padding: 0;
    margin: 0;
}
.card-container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content:center;
    gap: 5px;
    margin-top: 15px;
    
    
}
.card{
    background-color: rgba(148, 0, 211, 0.314);
    border-radius: 13px;
    padding: 15px;
    margin-bottom: 15px;

}
.heading{
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
    width: bold;
    color: rgba(213, 68, 15, 0.595);
}
.details-btn{
    width: 150px;
    padding: 10px;
    background-color: rgba(14, 99, 234, 0.686);
    border-radius: 5px;
    display: block;
    margin: auto;
    border: none;
    outline: none;
    color: white;
}
.search-container{
    display: flex;
    width: auto;
    justify-content: end;
    gap: 5px;
    margin-right: 15px;
    
}
.search-btn{
    width: 150px;
    padding: 10px;
    background-color: rgba(14, 99, 234, 0.686);
    border-radius: 5px;
    display: block;
    color: white;
    border: none;
    outline: none;
}
.search-fied{
    border-radius: 15px;
    border: 3px solid lightskyblue;
    outline: none;
    padding: 5px;
    width: 200px;
}


.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-color: #ccc #0000;
    animation: l16 1s infinite linear;
    margin: auto;
  }
  .loader::before,
  .loader::after {    
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
  }
  .loader::before {
    border-color: #f03355 #0000;
    animation: inherit; 
    animation-duration: .5s;
    animation-direction: reverse;
  }
  .loader::after {
    margin: 8px;
  }
  @keyframes l16 { 
    100%{transform: rotate(1turn)}
  }
  .show-more{
    text-align: center;
    margin-bottom: 5px;
  }
  .btn{
    width: 150px;
    padding: 10px;
    background-color: rgba(234, 14, 201, 0.686);
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    
  }